/** VARIABLES **/

/* Fonts */

$font-primary: 'Poppins', sans-serif;

/* COLORS */

$color-primary:#F6B81C;
$color-secondary:#474747;
$color-grey:#787573;
$color-white: #fefefe;
$color-green:#00923F;

/* TRANSITIONS */

$transition-default: all .4s;